<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="grepcmd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <grepcmd.Properties.Settings>
            <setting name="size" serializeAs="String">
                <value>450,784</value>
            </setting>
            <setting name="split" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="history" serializeAs="String">
                <value />
            </setting>
            <setting name="searchpath" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="filters" serializeAs="String">
                <value>*.c;*.cpp;*.cs;*.xaml;*.h;*.hpp;*.py;*.txt;*.md;*.xml</value>
            </setting>
            <setting name="switches" serializeAs="String">
                <value>1,0,1,0</value>
            </setting>
            <setting name="encoding" serializeAs="String">
                <value>UTF-8</value>
            </setting>
            <setting name="previews" serializeAs="String">
                <value>3</value>
            </setting>
        </grepcmd.Properties.Settings>
    </userSettings>
</configuration>